html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 1080px;
  padding-top: calc(128px + 64px);
}
.content {
  display: block;
}

h2 {
  color: rgb(250, 250, 250);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 5px;
  background-color: rgb(31, 128, 255);
}



input {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}
select {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

table {
  width: 100%;
}

td, th {
  padding-left: 5px;
  padding-right: 5px;
}

table, th, td {
  border: 1px solid rgb(228, 228, 228);
}
td > input {
  width: 100%;
  padding: 2px;
  margin: 0px;
}
.gris {
  background-color: rgba(189, 189, 189, 0.74);
}

.cell-none {
  border: none;
}

td {
  background-color: #ededed;
}

.banner {
 width:100%;
 height: 128px;
 background-color: black;
 position: absolute;
 left:0;
 top:0;

 display: flex;
 justify-content: center;
 align-items: center;
}

.banner img {
  height: 80%;
}

h1 {
color:rgb(0, 0, 0)

}




.titretableau {
  background-color: rgb(31, 128, 255);
  color: azure;
  padding: 1%;
  font-style: normal;
  font-size: larger;
}
.marine {

background-color: rgb(123, 212, 247);

}
.clair {

background-color:rgb(184, 217, 255);


}
td {
  min-width: 60px;
}
.info {
  background-color: orange;
  color: azure;
  padding: 1%;
  font-style: normal;
  font-size: larger;

}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: 0.4rem 0;
  text-align: right;
}
.textright
{
  text-align: right;
}
.vertth {
background-color: rgb(156, 255, 136);

}
.vertclair {
background-color: rgb(204, 247, 232);
}
.verneutre {
  background-color: rgb(10, 182, 10);
}
.vertfonce {
  background-color: rgb(1, 141, 1);
}
